<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuhan.twin.device.mapper.DeviceTelemetryMapper">

    <insert id="batchInsert">
        INSERT INTO t_device_telemetry (device_id, metrics, ts)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.deviceId}, #{item.metricsJson}::jsonb, #{item.ts})
        </foreach>
    </insert>

</mapper>
